dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*~
*.tar.gz
*-orig
*.org
*.log
.stack-work/
Exercises.hs
Learn
RungeKutta/
SourceGraph/
_darcs/
*.png
*-conflict
stack.yaml
examples/LICENSE
examples/src/Testing.hs
src/PlaneWave.hs
src/Tests.hs
manifest20160412.txt*
