communications/
dependencies/
dist/
dist-newstyle/
examples/cabal-dev/
RungeKutta/
SourceGraph/
stack20190510/
stack20190513/
_darcs/
.stack-work/
cabal.project-20200110
cabal.project.local
cabal.project.local~*
Exercises.hs
examples/src/Testing.hs
src/PlaneWave.hs
src/Tests.hs
manifest20160412.txt
*.o
*.hi
*~
*.tar.gz
*-orig
*.org
*.log
*.png
*-conflict
stack.yaml*
.ghc.env*
Learn
